<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= recipe.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="recipe-card">
        <h1><%= recipe.title %></h1>
        <p><%= recipe.description %></p>
    </div>
    <br>
    <a href="/recipes">🔙 Back to Recipes</a>
</body>
</html>

